@charset "utf-8";

.detail-page {
    header .bui-bar {
        background:#fff;

        .bui-btn i {
            color:#aaa;
        }
    }
}

.article {
    padding:.2rem;
    h1 {
        // font-size:.36rem;
        margin-bottom:.1rem;
        color:#000;
    }
    .article-head {
        margin-bottom:.2rem;
        color:#b9b9b9;
    }

    .article-main {
        p {
            color:#333;
            line-height:2;
            margin-bottom:.3rem;
        }
    }
    .article-foot {
        color:#999;
    }
    .article-text {
        display:block;
        color:#999;
        text-align:center;
    }
}

.news-comment {
    background:#fafafa;
    border-top:1px solid #dedede;
    padding:.1rem .2rem;
    .comment-textarea {
        border-bottom:1px solid #dedede;
        margin-right:.2rem;
    }
    i {
        color:#999;
        width: auto;
        font-size: .48rem;
    }
    .all-comments {
        color:#e10000;

        i {
            color:#e10000;
        }
    }

    .btn-send {
        display:block;
    }
}
