@charset "utf-8";


#newsPage {
    .bui-bar-right {
        .bui-btn {
            margin-left:.3rem;
        }
    }

    .bui-navbar {
        background:#fafafa;
    }
}
#uiNewsTabNav {
    .bui-btn {
        color:#aaa;
        background:#fafafa;
        &.active {
            color:$primary-color;
        }
    }
}
#uiNewsTabNav>[class*=bui-btn].active:after {
  background:$primary-color;
}

.btn-dropdown {
    border:0;
    color:#b9b9b9;
    background:#fafafa;
    i {
        font-size:.32rem;
    }
}

// 焦点图
.slide-news {

    .bui-slide-head ul{
      text-align: right;
    }
    .bui-slide-head ul li {
        width:.15rem;
        height:.15rem;
        &.active {
            background:#fff;
            width:0.15rem;
            height:0.15rem;
        }
    }
    .bui-slide-title {
        background:none;
    }
}

// 新闻列表
.news-list {
    .thumbnail {
        width:2.2rem;
        height:1.4rem;
    }

    .item-title {
        height: .76rem;
        line-height:1.2;
        // 多行截取
        @include text-overflow-line(2);
    }
}

.cate-choose-panel ,
.cate-panel {
    border:0;
    margin-top:0;
    .bui-panel-head ,
    .bui-panel-main {
        border-bottom:0;
    }
}
.cate-panel {
    background:#f8f8f8;
}
.cate-list {
    .span3 {
        margin-bottom:.2rem;
    }
    .bui-check {
        margin:0;
    }
}

.nav-dialog {
    top: .88rem;
    .bui-dialog-main {
        background:#f8f8f8;
    }
    .bui-dialog-close {
        top:.05rem;
        right:.24rem;
    }
}

.bui-check {
    position:relative;
    label {
        background:#f8f8f8;
        border:1px solid #b4b4b4;
    }
    input:checked ~ label {
        background:#eb413d;
        color:#fff;
        border:1px solid #eb413d;
    }
    .bui-badges {
        position:absolute;
        top:-.06rem;
        right:-20%;
        font-size:.14rem;
        border-radius:.06rem;
        line-height:.24rem;
        z-index: 10;
    }
}
