<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>BUI</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/bui.css" />
    <!-- 依赖库 手机调试的js引用顺序如下 -->
    <script src="js/zepto.js"></script>
    <script src="js/cordova.js"></script>
    <script src="js/bingotouch.js"></script>
    <script src="js/linkplugins.js"></script>
    <script src="js/plugins/fastclick.js"></script>
    <!-- BUI库 -->
    <script src="js/bui.js"></script>
    <script>
        bui.ready(function(){
            // 控件及原生调用初始化必须在bui.ready里面
            
        });
    </script>
</head>

<body>
    <!-- BUI标准页面结构 -->
    <div class="bui-page">
        <header class="bui-bar">
            <div class="bui-bar-left">
                <!-- 左边有图标示例 -->
                <div class="bui-btn"><i class="icon-back"></i></div>
            </div>
            <div class="bui-bar-main">Link开发工程模板</div>
            <div class="bui-bar-right">
                <!-- 右边有图标示例 -->
                <div class="bui-btn"><i class="icon-search"></i></div>
            </div>
        </header>
        <main>
            <!-- 中间滚动内容 -->
        </main>
        <footer></footer>
    </div>
</body>

</html>