@charset "utf-8";

/*侧边栏*/
.personal-header{
    background: url("../images/bg-header.png") no-repeat;
    background-size: cover;
    padding-top: .3rem;
    padding-bottom: .3rem;
}
.personal-header .personal-img{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 3px solid #fff;
    overflow: hidden;
    margin: 0 auto .2rem auto;
    text-align: center;
}
.personal-header .personal-img img{
    width: 100%;
}
.personal-header p{
    text-align: center;
    color: #ffffff;
    margin-bottom: 0.1rem;
}
.personal-header .name{
    font-size: 0.26rem;
}
.personal-header .grade{
    font-size: 0.2rem;
}
.nav-list{
    border-top: none;
    margin-top: 0.2rem;
    padding: 0 0.2rem;
    background-color: #ffffff;
}
.nav-list .bui-btn{
    padding-left: 0;
    padding-right: 0;
}
.nav-list li:first-child{
    border-top: none;
}
.nav-list .icon i{
    font-size: 0.4rem;
}
.nav-list .icon{
    height: 0.42rem;
}
.nav-list .bui-btn{
    border: none;
    border-top: 1px solid #efefef;
}

.icon-yellow{
    color: #ffad03;
}
.icon-thinblue{
    color: #56ced5;
}
.icon-green{
    color: #6ed046;
}
.icon-red{
    color: #fd8886;
}